.wrapepr{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;

}
.box1{
    border: 1px solid #f00;
    width: 150px;
    height: 120px;
    
}
.box2{
    border: 1px solid#f00;
    width: 150px;
    height: 100px;
    
}
.box3{
    border: 1px solid#f00;
    width: 150px;
    height: 40px;
    
}
.box4{
    border: 1px solid blue;
    width: 150px;
    height: 200px;
   
}
@media(max-width:640px){
    .wrapepr{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20%;
    
    }
    .box1{
       
        border: 1px solid blue;
        width: 150px;
        height: 200px;
        margin-right: 20px;
        
    }
    .box2{
        border: 1px solid#f00;
        
        width: 150px;
        height: 120px;
        margin-right: 20px;
        
    }
    .box3{
        border: 1px solid#f00;
        width: 150px;
        height: 100px;
        margin-right: 20px;
        
    }
    .box4{
        border: 1px solid #f00;
        width: 150px;
        height: 40px;
        margin-top: 20px;
       
    }
}