*{
    margin:0;
    padding:0;
}
.body_all{
    height:1386px;
    margin: 0px 45px 0px 45px;
    
}
.top{
    display: flex;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:#938e8c;
}
.top_text{
    margin-bottom: 6px;
    margin-left:7px ;
}
.top_left{
    display: flex;
    flex-direction: column-reverse;
    height: 61px;
    width: 110px;
    background-color:#d45d5c;
    color:#ffffff;
    font-size: 12px;
    font-family: "黑体";
}
.top_right{
    display: flex;
    flex-direction: column-reverse;
    color:#d45d5c ;
}
.center1{
    display: flex;
    justify-content: center;
    margin-top: 34px;
}
.center1_left{
    display: flex;
    justify-content: space-between;
    height: 301px;
    width: 641px;
    background: url(../images/1.png) no-repeat left 0;
    

}
.center1_left_1{
    background-color: seagreen;
    width: 191px;
    height: 301px;
    filter:alpha(opacity=50);
    opacity: 0.5;

}
.center1_left_2{
    background-color: #d37473;
    width: 191px;
    height: 301px;
    filter:alpha(opacity=50);
    opacity: 0.5;
}
.center1_right{
    margin-left: 48px;
    width: 203px;
    height: 301px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color:#cc8091;
}
.center1_right_1{
    line-height: 40px;
    color: #000000;
    font-size: 24px;
    font-family: "Microsoft YaHei";
    text-decoration: underline;
    font-variant: small-caps;
    text-transform:capitalize;
    /*字母大写*/
}
.center1_right_1_text{
    margin-top: -10px;
    
}
.center1_right_2{
    width:203px ;
    font-size: 12px;
    color:#676767;
    font-family: "楷体";
    line-height: 10px;
    font-style: oblique;
}
.center1_right_3{
    font-size: 116px;
    color:#75b86b;
    font-family: "Microsoft YaHei";
    font-style: italic;
    margin-left: -18px;
}
.center1_right_4{
    display: flex;
    font-family: "Microsoft YaHei";
}
.center1_right_4_1{
    font-size: 55px;
    color: #cc8091;
}
.center1_right_4_2{
    margin-top: 26px;
}
.center1_right_4_2_1{
    font-size:21px;
    color: #cc8091;
    margin-bottom: -8px;
}
.center1_right_4_2_2{
    font-size:12px;
    color: gray;
    
}
.center2{
    display: flex;
    justify-content: center;
}
.center2_left{
    margin-top: 41px;
    display: flex;
}
.center2_right{
    width: 230px;
    margin-left: 20px;
    background-color: #ffffff;
}
.What_title{
    color: #418c59;
    font-size: 16px;
    font-family:"Microsoft YaHei";
    font-weight: bold;
    text-decoration: underline;
}
.What_content{
    margin-top: 10px;
    width: 230px;
    font-size: 12px;
    font-family:"宋体";
    line-height: 16px;
}
.When{
    margin-left: 50px;
    
}
.When_title{
    color: #d2994f;
    font-size: 16px;
    font-family:"Microsoft YaHei";
    font-weight: bold;
    text-decoration: underline;
    margin-left: 50px;
}
.When_content{
    margin-top: 10px;
    width: 205px;
    font-size: 12px;
    font-family:"Microsoft YaHei";
    color: #231815;
    line-height: 16px;
    filter:alpha(opacity=70);
    opacity: 0.7;
    margin-left: 50px;
}
.How_title{
    color: #cc7680;
    font-size: 16px;
    font-family:"Microsoft YaHei";
    font-weight: bold;
    text-decoration: underline;
    margin-left: 28px;
}
.How_content{
    width: 132px;
    margin-top: 10px;
    margin-left: 28px;
    font-size: 12px;
    font-family:"Microsoft YaHei";
    filter:alpha(opacity=70);
    opacity: 0.7;
    line-height: 1.8em;
}
.How_bottom{
    margin-top: 16px;
    line-height: 16px;
}
.How_what{
    margin-left: 28px;
    font-size: 12px;
    font-family:"Microsoft YaHei";
    
    filter:alpha(opacity=70);
    opacity: 0.7;
}
.percent{
    color: #cd4a48;
    font-style: italic;
    
}
.center3{
    margin-top: 74px;
    display: flex;
    justify-content: center;
}
.center3_left{
    width: 415px;
    margin-right: 25px;
}
.center3_left_top{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:#11456b;
}

.center3_left_top span{
    font-size: 72px;
    color: #f5e327;
    font-family: "黑体";
    font-weight: bold;
    font-style: italic;
    margin-left: -10px;
}
.center3_left_top p{
    font-size: 42px;
    color: #11456b;
    font-family: "黑体";
    font-weight: bold;
    line-height: 16px;
    
}
.center3_left_top div{
    font-size: 33px;
    color: #11456b;
    font-family: "黑体";
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 17px;
}
.center3_left_bottom{
    margin-top: 25px;
    font-size: 0;
}
.center3_left_bottom_text span{
    font-size: 70px;
    color: #f5e327;
    font-family:"Microsoft YaHei";
    float: left;
    margin-right: 7px;
    margin-top: -12px;
}
.center3_left_bottom_text p{
    font-size: 12px;
    color: #767777;
    font-family: "宋体";
    line-height: 16px;
}
.center3_left_bottom_text img{
    float: right;
    margin-top:20px;
    margin-left: 10px;
    margin-right: 6px;
    
}
.center3_left_bottom_text_1{
    text-indent: 2em;
}
.center3_right_top{
    height: 257px;
    width: 458px;
    background: url(../images/3.png) no-repeat right 0;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.center3_right_top_1{
    height:61px ;
    background: url(../images/4.png);
    display: flex;
    align-items: center;
}


.center3_right_top_2{
  
    margin-left: 40px;
    text-align: center;
    height:44px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color:#72b16a;

}

.center3_right_top_2 p{
    font-size: 12px;
    color: #72b16a;
    font-family:"Microsoft YaHei";
    font-style: oblique;
    letter-spacing: 140%;
    
}
.center3_right_top_2 span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 26px;
    color: #ffffff;
    font-style: normal;
}
.center3_right_bottom{
    margin-top: 30px;
    height: 318px;
    width: 459px;
    background-color:#eeedd6 ;
}
.center3_right_bottom_top{
    display: flex;
    padding-top: 32px;
    padding-left: 32px;
    margin-right: 31px;
    
}
.center3_right_bottom_top img{
    padding-top: 8px;
    padding-right: 8px;
}
.center3_right_bottom_top_text{
    font-size: 16px;
    color: #5a5b5b;
    font-family: "宋体";
    float: left;
    
}
.center3_right_bottom_top_text p{
   
    line-height: 20px;
}
.center3_right_bottom_top_text span{
    font-size: 12px;
    font-style: oblique;
}
.center3_right_bottom_bottom{
    display: flex;
    justify-content: space-between;
}
.center3_right_bottom_bottom_left{
    height: 160px;
    width: 260px;
    background-color: #d45d5c;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.center3_right_bottom_bottom_left_left{
    font-size:110px ;
    color: #ffffff;
    font-family:"Microsoft YaHei";
    margin-left: 14px;
}
.center3_right_bottom_bottom_left_right{
    height: 86px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color:#ffffff;
}
.center3_right_bottom_bottom_left_right p{
    margin-left: 6px;
    font-size: 21px;
    color: #ffffff;
    font-family: "黑体";
    font-style: oblique;
    line-height: 24px;
}
.center3_right_bottom_bottom_left_right div{
    margin-left: 9px;
    font-size: 12px;
    color: #ffffff;
    font-family: "黑体";
    line-height: 10px;
    margin-top: 10px;
    
}
.center3_right_bottom_bottom_right{
    margin-top: 25px;
    width: 200px;
    font-size:14px;
    color: #5a5b5b;
    font-family: "黑体";
    margin-left: 16px;
}

.bt1{
    font-size: 72px;
    color: #d45d5c;
    font-family: "黑体";
    position: absolute;
    float: left;
    margin-left: -40px;
    
}
.bt2{
    font-size: 72px;
    color: #d45d5c;
    font-family: "黑体";
    position: absolute;
    float: right;
    margin-left: 50px;
}
.foot{
    width: 100%;
    height: 60px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color:#938e8c;
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
}
.foot p{
    font-size: 12px;
    color:#d45d5c;
    font-family: "黑体";
}
